body {

  font-family: 'Open Sans', sans-serif;
  padding: 0px;

  background-image: radial-gradient(circle, #ff9c71, #e27c75, #bd6476, #915070, #654062);
}

/* {
  text-decoration-color: none;
} */
.content {
  padding: 10px;
  color: white;
 /* text-shadow: 1px 1px black;*/

}

.lower nav {
  text-align: center;
  color: white;
  text-shadow:1px 1px gray;
  font-stretch: 10px;
  font-family: 'Righteous', cursive;
  font-size: 5vw;
  
}

.f-c {
text-align: center;
color: white;
font-size: 14px;
text-shadow: 1px 1px gray;
font-family: 'Righteous', cursive;
padding-bottom:10px;

}

hr {
  border-top: 5px dashed white;
  border-bottom: 0;
  width: 40%;
  border-radius: 50%;

}

.h-logo {
  padding: 10px;
  text-align: left;
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 5vw;
  font-weight: bold;
  text-shadow: 2px -1px gray;
}

.f-logo{
   padding:10px;
  color:#654062;
  font-family: 'Righteous', cursive;
  font-size: 6vw;
}

.post-h {
  text-align: center;
  color: white;
  font-size: 10vw;
  font-weight: bolder;
  text-shadow: 2px -1px gray;
}


body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  background-color: #BC658D;
  position: fixed;
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}



/* ----------------- post ------------ */

/*  .container {
  position:static;
  text-align: center;
  color: white;
  width:210px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 60px;
  margin-top:20px;
  margin-bottom: 20px;

}*/
.tp{
  position:static;
  top: 1%;
  text-align: center;
  padding-left: 0px;
  font-size: 10px;
  font-weight: bold;
  color: white;
} 
/* ----------- post end------------------ */

/*@media screen and (min-width: 600px) {
  .container{
    margin-left: 90px;
    margin-left: 100px;
    width:400px;
    height:300px;
 
  }
  
  
 .tp{
    font-size: 2vw;
    font-weight: bold;
  } */
  /*.sp {
    float: right;
    margin-top: -280px;
    margin-right: 50px;
    width:400px;
    height:280px;
  }
  .sp1{
    padding-*/
}

/* ---------- post card ----------- */

.row,.column {
  box-sizing: border-box;}

/* Float four columns side by side */
.column {
  float: left;
  width: 22%;
  padding:5px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 2px 2px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
